[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/kbotin
Icon=/usr/share/kbotin/media/address_book_last.png
X-DocPath=http://kbotin.benwa.wwwusers.minet.net
Name=KBotin
GenericName=Contact Manager
GenericName[br]=Merour an darempredoù
GenericName[bs]=Upravljanje kontaktima
GenericName[ca]=Gestor de contactes
GenericName[ca@valencia]=Gestor de contactes
GenericName[cs]=Správce kontaktů
GenericName[da]=Kontakthåndtering
GenericName[de]=Kontakteverwaltung
GenericName[el]=Διαχειριστής επαφών
GenericName[en_GB]=Contact Manager
GenericName[es]=Gestor de contactos
GenericName[et]=Kontaktihaldur
GenericName[fi]=Yhteystietojen hallinta
GenericName[fr]=Gestionnaire de contacts
GenericName[ga]=Bainisteoir na dTeagmhálacha
GenericName[gl]=Xestor de contactos
GenericName[hu]=Névjegykezelő
GenericName[ia]=Gerente de contacto
GenericName[it]=Gestione della rubrica
GenericName[ja]=連絡先マネージャ
GenericName[kk]=Контакттар менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ទំនាក់ទំនង
GenericName[ko]=연락처 관리자
GenericName[lt]=Kontaktų tvarkytuvė
GenericName[lv]=Kontaktu pārvaldnieks
GenericName[mai]=सम्पर्क प्रबंधक
GenericName[mr]=संपर्क व्यवस्थापक
GenericName[nb]=Kontaktbehandler
GenericName[nds]=Kontaktenpleger
GenericName[nl]=Contactpersoonbeheerder
GenericName[nn]=Kontakthandsamar
GenericName[pa]=ਸੰਪਰਕ ਮੈਨੇਜਰ
GenericName[pl]=Menadżer kontaktów
GenericName[pt]=Gestor de Contactos
GenericName[pt_BR]=Gerenciador de contatos
GenericName[ro]=Gestionar de contacte
GenericName[ru]=Управление контактами
GenericName[sk]=Správca kontaktov
GenericName[sl]=Upravitelj stikov
GenericName[sr]=Менаџер контаката
GenericName[sr@ijekavian]=Менаџер контаката
GenericName[sr@ijekavianlatin]=Menadžer kontakata
GenericName[sr@latin]=Menadžer kontakata
GenericName[sv]=Kontakthantering
GenericName[th]=จัดการที่อยู่ติดต่อ
GenericName[tr]=Kişi Yöneticisi
GenericName[ug]=ئالاقەداش باشقۇرغۇچ
GenericName[uk]=Менеджер контактів
GenericName[wa]=Calpin d' adresses
GenericName[x-test]=xxContact Managerxx
GenericName[zh_CN]=联系人管理器
GenericName[zh_TW]=聯絡人管理員
Comment=A contact browser
Comment[fr]=Un gestionnaire de contacts
Categories=Qt;KDE;Office;ContactManagement;Contacts;
X-KDE-StartupNotify=true
